body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.inputArea {background: none; border: none; color: inherit; flex-grow: 1; font-family: inherit; font-size: inherit; padding: 0px;}
.inputPrompt {margin-right: 5px; color: rgb(189, 8, 28);}
input:focus { outline: none; }
.App {text-align: left; line-height: 1.5em;}
